<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:pdflip="http://typo3.org/ns/WapplerSystems/Pdflip/ViewHelpers"
      data-namespace-typo3-fluid="true">


<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">

    <f:render partial="PdflipAssets" arguments="{assets: settings.assets}" />
    {pdflip:flipbookGlobalConfig(useNonce:settings.assets.useNonce)}


    <f:if condition="{files.0}">
        <f:then>

            <div
                class="_df_book" id="pdflip-{data.uid}" height="{f:if(condition:flexFormData.settings.height, then:flexFormData.settings.height, else:'500')}"
                source="{files.0.publicUrl}">
            </div>

        </f:then>
        <f:else>

            <div class="alert alert-info">No PDF selected</div>

        </f:else>
    </f:if>





</f:section>


</html>
